<launch>
    <rosparam file="$(find ur_moveit)/config/params.yaml" command="load"/>
    <include file="$(find ur_moveit)/launch/demo.launch" />
    <node name="server_endpoint" pkg="ur_moveit" type="server_endpoint.py" args="--wait" output="screen" respawn="true" />
    <node name="pose_estimation" pkg="ur_moveit" type="pose_estimation_script.py" args="--wait" output="screen"/>
    <node name="mover" pkg="ur_moveit" type="mover.py" args="--wait" output="screen" respawn="true" respawn_delay="2.0"/>
</launch>