<launch>
    <rosparam file="$(find ur_moveit)/config/params.yaml" command="load"/>
    <node name="server_endpoint" pkg="ur_moveit" type="server_endpoint.py" args="--wait" output="screen" respawn="true" />
    <node name="trajectory_subscriber" pkg="ur_moveit" type="trajectory_subscriber.py" args="--wait" output="screen"/>
</launch>